[submodule "ledger-wallet-ios/Vendor/CoreBitcoin"]
	path = ledger-wallet-ios/Vendor/CoreBitcoin
	url = git@github.com:oleganza/CoreBitcoin.git
[submodule "ledger-wallet-ios/Vendor/OpenSSL"]
	path = ledger-wallet-ios/Vendor/OpenSSL
	url = git@github.com:openssl/openssl.git
[submodule "ledger-wallet-ios/Vendor/Starscream"]
	path = ledger-wallet-ios/Vendor/Starscream
	url = git@github.com:daltoniam/Starscream.git
[submodule "ledger-wallet-ios/Vendor/FontAwesome"]
	path = ledger-wallet-ios/Vendor/FontAwesome
	url = git@github.com:FortAwesome/Font-Awesome.git
